$black-200: rgba(0, 0, 0, 0.2);
$black-400: #333;
$black-600: #464547;
$black-500: #666666;
$white: #fff;
$white-500: #ECEFF1;
$white-400: #CFD8DC;
$gray-400: rgba(255, 255, 255, 0.4);
$white-700: rgba(255, 255, 255, 0.7);
$sky-blue: #55C2D8;
$brown-300: rgba(140, 79, 42, 0.3);