.section {
  .section__header {
    position: relative;
    margin: 0 auto;
    padding-top: 70px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: $black-600;
    width: 600px;
  }

  .section__description {
    margin-top: 40px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    span {
      color: $black-500;
    }
  }

  .section__content {
    padding-top: 45px;
    text-align: center;
  }
}

.about-us {
  .section__content {
    ul > li {
      display: inline-grid;
      text-align: left;
      margin: 0 42px;
      width: 420px;
      font-size: 16px;
      line-height: 22px;
      color: $black-500;
    }

    ul {
      margin-bottom: 50px;
    }

    button {
      border: none;
      text-decoration: none;
      padding: 6px 12px;
      color: $white;
      background: $sky-blue;
      border-radius: 20px;
      text-align: center;
      letter-spacing: 0.1em;
      font-size: 14px;
      line-height: 26px;
      transition: 0.3s linear;
      transform-origin: 0 0;

      a {
        color: white;
      }
    }

    button:hover {
      transform: rotateZ(10deg);
    }

    margin-bottom: 100px;
  }
}

.learn-more {
  .section__header {
    color: $white;
  }

  .section__content > span {
    color: $white;
  }

  .section__description {
    margin-top: 65px;

    a {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border-radius: 50%;
      background: $sky-blue;
      transition: 0.3s linear;

      i {
        color: $white;
        transition: 0.3s linear;
      }

      &:hover {
        background-color: white;
        i {
          color: $sky-blue;
        }
      }

    }

  }

  .section__content {
    margin-top: 55px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $white;
    padding-bottom: 90px;
  }

  height: auto;
  background: linear-gradient(0deg, $brown-300, $brown-300), url("../../dist/img/bg2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  text-align: center;
}

